* {
  font-family: sans-serif;
  margin: 1.5px;
  padding: 1.5px;
  border-radius: 5px;
  border: 1px solid rosybrown;
}

input, .area{
  width: 100px;
  min-width: 100%;
  min-height: 50%;
  margin-left: 0;
  background: linear-gradient(to left,blanchedalmond, palegoldenrod, palevioletred);
  margin-bottom: 10px;
}
body{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.color{
  display: flex;
  justify-content: space-between;
}

.control{
  background: black;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 20%;
  transition: 1s;
}

.color-input{
  border:solid 1px white;
  opacity:0.2;
  transition:1s
}

.color-input:hover{
  border:solid 1px white;
  opacity:1;
}

.control:hover{
  background: white;
  color: black;

}

button{
  border-radius: 10px;
}

.btn{
  width: 40px;
}

.area{
  text-align: center;  
}